/* From Uiverse.io by catraco */
.container-bg {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    5deg,
    orange 50%,
    orangered 60%,
    orange 50%
  );
  background-color: orange;
  background-size: 1em 1em;
  background-repeat: space;
}
